/* 定义颜色变量 */
:root {
    --hl: #1b2f90;
    --bg: #f9f9f6;
}

/* 整体背景颜色 */
body {
    background: #ffc400;
}

/* 狗狗身体，相对定位 */
.dog {
    width: 300px;
    height: 400px;
    position: relative;
    background: #666666;
}

.center {
    position: absolute;
    left: 50%;
    /* margin-left: -51px; 这样不能通用 */
    transform: translate(-50%, 0);  /* X-axis,Yaxis */
}

/* 额头部分 */
.forehead {
    width: 102px;
    height: 48px;
    background: var(--bg); 
    border-radius: 51px / 40px 40px 8px 8px;
    z-index: 1;
}

/* 脸庞 */
.face {
    width:110px;
    height: 68px;
    background: var(--bg);
    top:20px;
    border-radius: 50px;
    z-index: 1;
}

/* 下巴 */
.chin {
    width: 104px;
    height: 36px;
    background: var(--bg);
    top: 60px;
    border-radius: 52px / 0px 0px 36px 36px;
    z-index: 1;
}

/* 耳朵 */
.ear {
    width: 16px;
    height: 70px;
    background: var(--hl);
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 34px;
    transform-origin: 50% 0;
    transform: translate(-42px,0) rotate(10deg);
}

.right {
    /* scale(-1, 1)翻转?为什么要写在最前面 */
    transform:  scale(-1,1) translate(-26px, 0) rotate(10deg); 
}
