/* 定义颜色变量 */
:root {
    --hl: #1b2f90;
    --bg: #f9f9f6;
}

/* 整体背景颜色 */
body {
    background: #ffc400;
}

/* 狗狗身体，相对定位 */
.dog {
    width: 300px;
    height: 400px;
    position: relative;
    background: #666666;
}

.center {
    position: absolute;
    left: 50%;
    /* margin-left: -51px; 这样不能通用 */
    transform: translate(-50%, 0);  /* X-axis,Yaxis */
}

/* 额头部分 */
.forehead {
    width: 102px;
    height: 48px;
    background: var(--bg); 
    border-radius: 51px / 40px 40px 8px 8px;
    z-index: 1;
}

/* 脸庞 */
.face {
    width:110px;
    height: 68px;
    background: var(--bg);
    top:20px;
    border-radius: 50px;
    z-index: 1;
}

/* 下巴 */
.chin {
    width: 104px;
    height: 36px;
    background: var(--bg);
    top: 60px;
    border-radius: 52px / 0px 0px 36px 36px;
    z-index: 1;
}

/* 耳朵 */
.ear {
    width: 16px;
    height: 70px;
    background: var(--hl);
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 34px;
    transform-origin: 50% 0;
    transform: translate(-42px,0) rotate(10deg);
}

.ear.right {
    /* scale(-1, 1)翻转?为什么要写在最前面 */
    transform:  scale(-1,1) translate(-26px, 0) rotate(10deg); 
}

/* 眼影胎记 */
.birthmark {
    width: 30px;
    height: 36px;
    background: var(--hl);
    border-radius: 15px / 17px 23px 2px 13px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 10px;
    transform: translate(16px, 0) rotate(-11deg);
}

/* 眼睛轮廓 */
.eye {
    width: 24px;
    height: 24px;
    background: var(--bg);
    border-radius: 12px / 13px 12px 12px 2px;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 20px;
    transform-origin: 50% 0;
    transform: translate(-44px, 0) rotate(10deg);
    box-shadow: 1px 0px 0px 0px #000 inset, -1px 0px 5px 1px #dddddd;
    /* 隐藏移除的眼球部分 */
    overflow: hidden; 
}

.eye.right {
    transform: scale(-1,1) translate(-21px, 0) rotate(10deg); 
    box-shadow: 1px 0px 0px 0px #000 inset;
}

.pupil {
    width: 26px;
    height: 26px;
    background: #e79101;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 1px;
    /* （左右）（上下） 模糊度 长度 颜色 内 */
    box-shadow: 0 0 8px 0 #000 inset;
}

/* 眼球黑部分 */
.pupil:before {
    width:18px;
    height: 18px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top:50%;
    /* 需要有空内容，否则不显示 */
    content: '';
    transform: translate(-50%, -50%);
}

/* 眼球白部分 */
.pupil:after {
    width: 7px;
    height: 7px;
    background-color: #fff;
    position: absolute;
    content: '';
    border-radius: 50%;
    top:5px;
    left: 2px;
}

/* 鼻子部分 */
.nose {
    width: 62px;
    height: 32px;
    top: 42px;
    background: #363035;
    position: absolute;
    border-radius: 31px / 10px 10px 22px 22px;
    z-index: 2;
}

/* 鼻子上的白色部分 */
.nose::before {
    width: 60px;
    height: 10px;
    left: 50%;
    top: 1px;
    transform: translate(-50%, 0);
    background: #fff;
    position: absolute;
    border-radius: 30px / 8px 8px 2px 2px;
    content: '';
    /* 鼻头渐变色 */
    background: linear-gradient(30deg, #fff 0%, #fff 8%, #b1aeb1 15%, #544d53 100%);

}

/* 鼻孔 */
.nostril {
    width: 15px;
    height: 4px;
    position: absolute;
    top: 19px;
    left: 50%;
    background: linear-gradient(0deg, #363035 0%, #000 100%);
    border-radius: 50%;
    transform: translate(-21px, 0) rotate(30deg);
}

.nostril.right {
    transform: scale(-1,1) translate(-6px, 0) rotate(30deg);;
}

.mouth {
    width: 68px;
    height: 27px;
    background: #671316;
    z-index: 1;
    position: absolute;
    top: 68px;
    border-radius: 34px / 0px 0px 27px 27px;
    box-shadow: 0px 0px 5px 0px #000 inset;
}

.mouth:before {
    width:68px;
    height: 8px;
    background: var(--bg);
    content: '';
    border-radius: 34px / 0px 0px 5px 5px;
    position: absolute;
    z-index: 2;
}

/* 牙齿和舌头 */
.teen {
    width: 8px;
    height: 3px;
    background: var(--bg);
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translate(-8px, 0);
    border-radius: 12px / 0px 0px 5px 12px;
    border-right: .5px solid #ddd;
    z-index: 3;
}

.teen.right {
    transform: scale(-1, 1) translate(0px, 0px);
}

.tongue {
    width: 34px;
    height: 14px;
    background: #a2504f;
    border-radius: 17px / 0px 0px 27px 27px;
    box-shadow: 0 0 4px 0 #000 inset;
    top: 6px;
    z-index: 1;
}

/* 手臂和身体 */
.body {
    width: 66px;
    height: 70px;
    background: var(--bg);
    border-radius: 50%;
    top: 90px;
}

.arm {
    width: 26px;
    height: 40px;
    background: var(--bg);
    position: absolute;
    border-radius: 13px / 20px 0px 14px 20px;
    transform: rotate(15deg);
    left: -10px;
}

.arm::before {
    width: 8px;
    height: 20px;
    background: var(--ba);
    content: '';
    position: absolute;
    left: 50%;
    top: 14px;
    right: 6px;
    box-shadow: -1px 0px 0px 0px rgba(200,200,200, 0.5);
    border-radius: 12px / 12px 12px 12px 12px;
}

.arm.right {
    transform: scale(-1, 1) translate(-60px, 0) rotate(15deg);;
}

/* 腿部和脚部 */
.leg {
    width: 29px;
    height: 50px;
    background: var(--bg);
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translate(-32px, 0);
    border-radius: 15px / 5px 5px 15px 45px;
}

.leg.right {
    transform: scale(-1, 1) translate(-3px, 0);
}

.foot  {
    width: 29px;
    height: 15px;
    background: linear-gradient(-120deg, #ddd 0%, #ddd 10%, #fff 30%, #fff 100%);
    position: absolute; 
    bottom: -8px; /*以身体为父元素*/
    left: 2px;
    border-radius: 15px / 10px 10px 5px 5px;
}

/* 胯部 */
.belly {
    width: 60px;
    height: 36px;
    background: linear-gradient(0deg, #ddd 0%, var(--bg) 20%, var(--bg) 100%);
    position: absolute;
    top: 34px;
    border-radius: 30px / 0 0 36px 36px ;
    z-index: 2;
}


