/* 定义颜色变量 */
:root {
    --hl: #1b2f90;
    --bg: #f9f9f6;
}

/* 整体背景颜色 */
body {
    background: #ffc400;
}

/* 狗狗身体，相对定位 */
.dog {
    width: 300px;
    height: 400px;
    position: relative;
    background: #666666;
}

.center {
    position: absolute;
    left: 50%;
    /* margin-left: -51px; 这样不能通用 */
    transform: translate(-50%, 0);  /* X-axis,Yaxis */
}

/* 额头部分 */
.forehead {
    width: 102px;
    height: 48px;
    background: var(--bg); 
    border-radius: 51px / 40px 40px 8px 8px;
    z-index: 1;
}

/* 脸庞 */
.face {
    width:110px;
    height: 68px;
    background: var(--bg);
    top:20px;
    border-radius: 50px;
    z-index: 1;
}

/* 下巴 */
.chin {
    width: 104px;
    height: 36px;
    background: var(--bg);
    top: 60px;
    border-radius: 52px / 0px 0px 36px 36px;
    z-index: 1;
}

/* 耳朵 */
.ear {
    width: 16px;
    height: 70px;
    background: var(--hl);
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 34px;
    transform-origin: 50% 0;
    transform: translate(-42px,0) rotate(10deg);
}

.ear.right {
    /* scale(-1, 1)翻转?为什么要写在最前面 */
    transform:  scale(-1,1) translate(-26px, 0) rotate(10deg); 
}

/* 眼影胎记 */
.birthmark {
    width: 30px;
    height: 36px;
    background: var(--hl);
    border-radius: 15px / 17px 23px 2px 13px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 10px;
    transform: translate(16px, 0) rotate(-11deg);
}

/* 眼睛轮廓 */
.eye {
    width: 24px;
    height: 24px;
    background: var(--bg);
    border-radius: 12px / 13px 12px 12px 2px;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 20px;
    transform-origin: 50% 0;
    transform: translate(-44px, 0) rotate(10deg);
    box-shadow: 1px 0px 0px 0px #000 inset, -1px 0px 5px 1px #dddddd;
    /* 隐藏移除的眼球部分 */
    overflow: hidden; 
}

.eye.right {
    transform: scale(-1,1) translate(-21px, 0) rotate(10deg); 
    box-shadow: 1px 0px 0px 0px #000 inset;
}

.pupil {
    width: 26px;
    height: 26px;
    background: #e79101;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 1px;
    /* （左右）（上下） 模糊度 长度 颜色 内 */
    box-shadow: 0 0 8px 0 #000 inset;
}

/* 眼球黑部分 */
.pupil:before {
    width:18px;
    height: 18px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top:50%;
    /* 需要有空内容，否则不显示 */
    content: '';
    transform: translate(-50%, -50%);
}

/* 眼球白部分 */
.pupil:after {
    width: 7px;
    height: 7px;
    background-color: #fff;
    position: absolute;
    content: '';
    border-radius: 50%;
    top:5px;
    left: 2px;
}